/*============= RESETS =============     font-family: 'Lato', sans-serif; */

/*-- iPhone X Remove Gutters --*/

html {
   padding: env(safe-area-inset);
}

/*-- Prevent Horizontal Scrolling & Font Style --*/

html, body {
   overflow-x: hidden;
   font-family: 'Lato', sans-serif;
   color: #505962;
}

.text-landanger {
   color: #067545;
}

/*--- Nav Scrolling Offset --*/
.offset::before{
   content: "";
   height: 3rem;
   display: block;
   margin-top: -3rem;
}

/*--- Extra Bootstrap Column Padding --*/

/*============= NAVIGATION =============*/

.navbar-brand img {
   height: 2rem;
}

.navbar {
   padding: .7rem 1rem;
   text-transform: uppercase;
   font-weight: 700;
   letter-spacing: .1rem;
   font-size: .9rem;
   transition: background-color .5s ease;
}

.navbar-nav li {
   padding-right: .8rem;
}

.navbar-nav .nav-link {
   color: #505962;
   padding-top: .8rem;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link:hover {
   color: #067545;
}

.custom-toggler-icon {
   color: #067545;
   font-size: 1.6rem;
}

/*-- Remove Button Outline --*/

button:focus, a:focus, a.btn:focus {
   outline: 0;
   -webkit-appearance: none;
   box-shadow: none;
}

button, a, a.btn, .svg-inline--fa {
   transition: all .6s ease;
}

.navbar.solid, .navbar.solid-toggle {
   background-color: rgba(255, 255, 255, 1)!important;
   transition: background-color 1s ease;
}

/*============= LANDING PAGE =============*/

/*--- Fixed Landing Page Section --*/

.landing {
   position: relative;
   width: 100%;
   height: 100vh;
   display: table;
   z-index: -1;
}

.home-wrap {
   clip: rect(0, auto, auto, 0);
   position: absolute;
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
}

.home-inner {
   background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.teleflexsurgicalcatalog.com%2Fimages%2Fproducts%2Fpilling%2Fhi-res%2FSR_KM47263.jpg&f=1&nofb=1');
   position: fixed;
   height: 100%;
   width: 100%;
   background-size: cover;
   background-position: center center;
   -webkit-transform: translateZ(0);
   transform: translateZ(0);
   will-change: transform;
   display: table;
}

/*-- Landing Page Caption --*/

.caption {
   z-index: 1;
   position: absolute;
   top: 38%;
   width: 100%;
   max-width: 100%;
}

.caption h3 {
   font-size: 2.5rem;
   letter-spacing: .3rem;
   text-shadow: .1rem .1rem .8rem #505962;
   padding-bottom: 1rem;
}

.caption h5 {
   font-size: 1rem;
   text-shadow: .1rem .1rem .5rem #505962;
   padding-bottom: 2rem;
}

.caption .btn-lg {
   border-width: thin;
   padding: .8rem 1.5rem;
   font-size: .7rem;
}

/* Bouncing arrow */

.arrow {
   position: absolute;
   bottom: 0;
   width: 100%;
   animation: bounce 2s infinite;
   -webkit-animation: bounce 2s infinite;
}

.down-arrow .svg-inline--fa {
   color: #067545;
   font-size: 1.8rem;
   opacity: .3;
}

.down-arrow .svg-inline--fa:hover {
   opacity: .8;
}


/*============= FEATURES SECTION =============*/
.btn-sm{
   border-width: medium;
   padding: .5rem 1.1rem;
   text-transform: uppercase;
   font-size: .9rem;
   margin: 1rem;
}

.btn-landanger{
   background-color: #067545;
   color: white;
}

.btn-landanger:hover{
   background-color: #067545bb;
   color: white;
}

h3.heading{
   text-transform: uppercase;
   font-weight: bold;
   font-size: 1.4rem;
   text-align: center;
   margin-bottom: 1.9rem;
}

.heading-underline{
   width: 3rem;
   height: .25rem;
   background-color: #067545;
   margin: 0 auto 2rem;

}

/*===== FIXED BACKGROUND IMG DARK =====*/

/*--- iOS Fixed Background Image --*/

/*============= PORTFOLIO SECTION =============*/

/*============= PRICING SECTION =============*/

/*============= TEAM SECTION FIXED BG IMG LIGHT =============*/

/*--- Team Light Background Image --*/

/*============= SKILLS SECTION =============*/

/*============= CLIENTS SECTION =============*/

/*============= CONTACT SECTION =============*/

/*--- Contact Form --*/

/*============= TOP SCROLL =============*/

/*============= MEDIA QUERIES =============*/

/* Devices under 992px (lg) */

/* Devices under 768px (md) */

/* Devices under 576px (sm) */

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/